.rectangle{
	width:600px;
	height:200px;
	background:rgb(250, 81, 2);
}
#btn2{
    width: 80%;
    margin-left: 2%;
    margin-right: 5%;
    background-color: brown;
}

h1{text-align: center;
}
p{color: white;
text-align: center;}