.foo{
    border-radius: 100%;
 background-color: rgb(46, 97, 207);
height: 10rem;
width: 10rem;
}

.cercle {
    background-color: rgb(187, 28, 28);
    /*padding:10px;*/
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
  }

 .container {display: flex;}