body{background-color: gainsboro;}
.card{
    width: 500px;
    width: 500px;
    background-color: rgb(251, 251, 251);
    margin: auto;
}

h1{text-align: center;}
.next{margin-left: 50%;
    margin-bottom: 5%;
background-color: aqua;}
img {width: 25%;
    height: 25%;
    border-radius: 80%;
    margin-left: 40%;
    }
.pres{margin-left: 40%;}