.section-center{
    margin-left: 30%;
    border: solid;
    margin-right: 30%;
height: 500px;
width: 250px;
color: green;}


 
  
  /* Modal Content/Box */
  .modal-content {
    background-color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 10px; /* Could be more or less, depending on screen size */
  }
 